syntax: glob

python/**/*.so
python/**/*.json
python/**/*.html
python/**/*.pkl
python/**/__pycache__
python/monarch.egg-info/*
python/torchmonarch.egg-info/*
*.egg
build/*
dist/*
monarch.egg-info/*
torchmonarch.egg-info/*

.ipynb_checkpoints
.monarch

# Rust stuff
target/
Cargo.lock

# mdbook output
books/hyperactor-book/book/**

CLAUDE.md

# macOS files
*/.DS_Store


# Sphinx build files
build/**
docs/_build/**
docs/build/**
docs/**/generated/**
*/sg_execution_times.rst

.venv/**
