[tool.pytest.ini_options]

markers = [
    "oss_skip: marks tests to skip in OSS CI",
    "forked_only: tests that must run in a forked subprocess",
]
asyncio_mode = "auto"
# Default timeout of 5 minutes
timeout = 300
