name: Build and publish versioned monarch wheels

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version string (e.g. 0.1.0rc1 or 0.1.0)"
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    uses: ./.github/workflows/build-dist.yml
    with:
      # TODO add 3.14 once we figure out py03 issue
      python-versions: '["3.10", "3.11", "3.12", "3.13"]'
      torch-spec: '--pre torch --extra-index-url https://download.pytorch.org/whl/nightly/cu126'
      gpu-arch-type: 'cuda'
      gpu-arch-version: '12.6'
      version: ${{ github.event.inputs.version }}
  publish:
    name: Publish to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment: stable
    if: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
    permissions:
      id-token: write  # Required for PyPI trusted publishing
      contents: read
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: Display structure of downloaded files
        run: ls -R dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true

  build-and-push-stable:
    name: Build and push stable docker image
    # Only make a new docker image if the publish is successful
    needs: publish
    runs-on: ubuntu-latest
    environment: stable
    if: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
    permissions:
      contents: read
      packages: write # Grant write permission for packages (GHCR)

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: . # Build context is the root directory
          file: ./Dockerfile
          push: true # Push the image to the registry
          tags: ghcr.io/${{ github.repository }}:latest
          build-args: PYTORCH_TAG=2.9.1-cuda12.6-cudnn9-runtime
